.about-page-wrapper {
    width: 100%;
    background-color: var(--bg-main);
}

.about-content-section {
    /* Wrapping Leftimgcontent so we can manage spacing around it */
    padding-bottom: 40px;
}